{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Shoes Cart</h1>
      <p>'Online Footwear Store' – Footwear for Everyone

        For each one of those shoe sweethearts out there, 'Online Footwear Store' offer the one-stop goal to pick the correct match of footwear. To satisfy the affection for shoes, we offer heaps of alternatives from driving footwear marks, all under one rooftop. Gone are the days when you needed to go from store to store to locate the correct style and size for yourself. At 'Online Footwear Store' , you can locate a vast accumulation of dashing footwear in all styles, all inside a couple of snaps.
        
        Simple right? Not just we are here to spare your time, we are putting forth you the most dazzling footwear alternatives from all the first rate brands like NIKE, PRINCESS, and PUMA. At 'Online Footwear Store' , we offer men, ladies, and child’s shoes perfect for any and each event. Ideal from game shoes to shoes to flip-flops, there is nothing that you can’t discover at 'Online Footwear Store' to supplement your clothing. At 'Online Footwear Store' , conveying quality footwear that displays style is our adage.
        
        Devoted to satisfying your shopping wants with no inconvenience, we ensure that you encounter smooth web based requesting background. Our intriguing accumulation of elegantly insightful footwear is accessible at astonishing costs that will really shock you. So be a shoe-holic with 'Online Footwear Store' .</p>
      
    </div>
  </div>

  
    <hr>

  </div> <!-- /container -->

</main>


{% endblock content %}