{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<form action="{% url 'ulogin' %}" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter your username "required>
  </div>
  <div class="form-group">
    <label for="pass">Enter your password </label>
    <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password "required>
  </div>
 {% csrf_token %}
        <button type="submit" class="btn btn-danger">Submit</button>
</form>

<h5>Not registered yet?<a href="{% url 'register' %}">Click here</a></h5>
{% endblock content %}